@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.primary-theme {
		@apply bg-[#f9f5fc] text-gray-600;
	}
	.secondary-theme {
		@apply bg-[#010e03] text-gray-400;
	}
	.input-text {
		@apply mb-4 h-10 w-[21rem] rounded-md border border-gray-600 bg-transparent pl-2 text-sm text-gray-600 focus:outline-none dark:border-gray-300 dark:text-gray-300 md:h-14 md:w-[38rem] md:text-lg lg:w-[50rem] lg:pl-8;
	}
	.textarea-text {
		@apply w-[21rem] rounded-md border border-gray-600 bg-transparent pt-2 pl-2 text-sm text-gray-600 focus:outline-none dark:border-gray-300 dark:text-gray-300 md:w-[38rem] md:text-lg lg:w-[50rem] lg:pl-8 lg:pt-4;
	}
}
